read -p "Are you working on the iOS app? (y/n) " -n 1 -r

case $REPLY in
    [Yy])
        source_env ./darwin
        ;;
    [Nn])
        if has nix; then
            echo "Evaluating nix environment; 'direnv reload' to change your choice"
            use flake
        else 
            echo "Only nix is supported for now; 'direnv reload' to repeat"
        fi
        ;;
    *)
        echo "Input needs to be 'y' or 'n'; 'direnv reload' to repeat"
        ;;
esac
