# IDE

## bazel-bsp
/.bazelbsp/

## vscode
/.vscode/

## jetbrains
/.idea/

# Bazel
/bazel-*

## user bazelrc
user.bazelrc

## rules_xcodeproj
Dev71.xcodeproj

## rust-analyzer support
rust-project.json

# C(++)

## CCLS
.ccls-cache/

target/

main.c
main
