# Nix
/.direnv/

## Build
result

# Editor Configuration

/.sourcekit-lsp/
/.helix/
/.nvim.lua/
/.vscode/
/.zed/

# C

## Clangd
/.cache/

# Zig 

## Build
/.zig-cache/
/zig-out/

# Swift

## Tuist
/Dev71.xcworkspace
/Dev71.xcodeproj
/Derived
