if has mise; then
    echo "Activating mise environment; 'direnv reload' to change your choice"
    direnv_load mise direnv exec
else
    echo "Please install mise; or temporarily get into a shell with it 'nix shell nixpkgs#mise' and run 'direnv reload'"
fi
